body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #F5F5DC; /* Color crema */
  color: #333;
}

h1, h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left; 
}

input[type='text'],
input[type='url'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #5cb868;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 5px;
}

button:hover {
  background-color: #abdcab;
}

.youtube-player {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex-grow: 1;
}

li button {
  margin-left: 10px;
}

li a {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.error-message {
  color: rgba(255, 0, 0, 0.712);
  font-size: 0.9em;
  margin-top: 5px;
}